table {
  margin: 0 auto;
}
.resultBigTable td,
.resultBigTable th {
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #ccc;
}
.resultBigTable th {
  background: #dbfda5;
}

.ballWrap {
  display: inline-block;
  width: 37px;
  margin-right: 5px;
}

.ball {
  background: #a6e7fd;
  border: 1px solid #cccccc;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  margin: 0 3px;
  display: inline-block;
}

.powerBall {
  background-color: #ffde17;
}

.winCount {
  width: 35px;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  margin: 0 3px;
  padding-bottom: 15px;
}

.infoBlock {
  margin: 20px 0;
}

.infoTitleWrap .btn {
  margin-right: 5px;
  font-size: 12px;
}

.aRight {
  text-align: right;
}
.infoContentWrap {
  margin: 20px 0;
}

.pickedResult .ballWrap {
  margin: 10px;
}
